/*ANIMACIONES DE MOVIMIENTO*/
.girar, .credito_formato_foto:hover{
    animation: giro 1s linear infinite;
}


.tambalear{
    animation: tambaleo 2s linear infinite, show;
}

.efecto {
    margin-bottom: 20%;

    view-timeline-name: --reveal;
    view-timeline-axis: block;
    animation-timeline: --reveal;
    animation-name: imgIn;
    animation-range: entry 0% cover 100%;
    animation-fill-mode: both;
}

@media (max-width: 600px) {
    .efecto {
        animation: none;
    }
}


@keyframes giro {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

@keyframes tambaleo {
    0%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}


@keyframes imgIn {
    0%{
        opacity: 0;
        transform: scale(3);
    }
    40%{
        opacity: 1;
    }
    55%{
        opacity: 1;

    }   
    60%{
        opacity: 0.5;
    }
    65%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform:scale(0.4);
    }
}