/*ANIMACIONES DE MOVIMIENTO*/
.girar{
    animation: giro 1s linear infinite;
}


@keyframes giro {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

.tambalear{
    animation: tambaleo 2s linear infinite, show;
}

@keyframes tambaleo {
    0%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}

.efecto {
    margin-top: 20%;
    margin-bottom: 20%;

    view-timeline-name: --reveal;
    view-timeline-axis: block;
    animation-timeline: --reveal;
    animation-name: animacionUnificada;
    animation-range: entry 0% cover 100%;
    animation-fill-mode: both;
}

@keyframes animacionUnificada {
    0% {
        opacity: 0;
        transform: scale(0.1) translateY(-2700px);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2) translateY(2500px);
    }
}
