  /* seccion importes */
@import "colors.css";

/* seccion de letras */
@font-face {
  font-family: "comic";
  src: url("../assets/fonts/Rethogen Atomics.otf") format("opentype");
}

/* seccion de tags,clases,ids */

nav {
  /* dimension */
  height: clamp(30px,15vh,100px);

  /* margenes */
  margin-top: clamp(5px,10vh,40px);
  
  /* padding */
  padding: 0px;
  
  /* disposicion */
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  
}

.boton {
  /* dimension */
  width:  15vw;
  height: 100%;
  border-radius: 2%;

  /* margenes */
  margin:0%;

  /* padding */
  padding-top: 5%;
  padding-bottom: 5%;

  /* disposicion */
  display: flex;
  justify-content: center;
  align-items: center;

  /* fuente */
  color: var(--txt);
  font-size:1em;
  font-family: comic;
  font-size: clamp(1rem, 2vw, 4rem);

  /* colores */
  background-color: var(--boton);
}

.boton:hover{
  background-color: var(--botonHover);
}

.logo {
  /* dimension */
  width: clamp(10px, 10vw, 200px);
  height: clamp(10px, 10vw, 200px);
  border-radius: 50%;

  /* margenes */
  margin: 0%;

  /* fondo */
  background: url("../assets/01-logo.jpeg");
  background-size: cover;

  /* miscelaneo */
  display: block;

}