@import 'colors.css';

nav, nav > div{
    background-color: var(--paleta1);
}

body {
    background-color: var(--error);
    background-image: url('../assets/neonRoad.gif');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    height: 100vh;
    width: 100vw;
}


.efecto, .logo{
    background-color: var(--paleta11);
}

.btn1, .btn2, .btn3  {
    color: var(--txt);
}

.boton{
    background-color: var(--boton);
}

.boton:hover{
    background-color: var(--botonHover);
}


p,h1{
    color: var(--txt);
}

