@import 'barranav.css';
@import 'colors.css';

/*FONDO*/
body {
    background-color: var(--error);
    background-image: url('../assets/neonRoad.gif');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    padding: 0; /*agregado*/
    box-sizing: border-box; /*agregado*/
    height: 100vh; /*agregado*/
    overflow-x: hidden;
}


/*Propios de la seccion*/

h1{
    font-size: 5rem;
    text-align: center;
    color: var(--txt);
}

.productos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
    margin: 25px;
    padding: 10px;
    place-items: center;
}


.card{
    width: 400px;
}

.card__content{
    text-align: center;
    position: relative;
    padding: 5em;
    transition: transform 3s;
    background: pink;
    transform-style: preserve-3d;
}

.card:hover .card__content{
    transform: rotateY(.5turn);
}


.frente,
.reverso{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    padding: 2em;
    backface-visibility:hidden;
    transform-style: preserve-3d;
}

.frente{
    background: lightgreen;
}

.reverso{
    transform: rotateY(.5turn);
    background: lightblue;
}

.titulo__producto{
    color: rgb(27, 38, 126);
    font-size: 3rem;
    transform: translateZ(6rem);
}

.descripcion{
    transform: translateZ(3rem);
}

img{
    height: 10rem;
}