/*CSS PARA UBICACION DE CAJAS
Estilos generales de estructura (grid, flexbox, contenedores, cabecera, pie de página).
*/
body {
    margin: 0%;
    overflow-x: hidden;
}

.contenedorFinal {
    grid-area: 2/2;
    text-align: center;
    display: grid;
    grid-template: clamp(100px, 20vh, 300px) clamp(100px, 20vh, 300px) clamp(50px, 10vh, 150px) clamp(100px, 20vh, 300px) clamp(50px, 10vh, 150px) clamp(100px, 20vh, 300px) / 1fr 1fr 1fr;
    margin: 0%;
}

.credito_formato_foto {
    background-size: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.credito_foto_contenedor{
    display: grid;
    grid-template: clamp(120px, 20vw, 175px) / 1fr clamp(120px, 20vw, 175px) 1fr;
}

.foto_contenedor1 {
    grid-area: 2 /1;
}


.foto_contenedor2 {
    grid-area: 2 /3;
}

.foto_contenedor3 {
    grid-area: 4/1;
}

.foto_contenedor4 {
    grid-area: 4/3;
}

.credito_Hecho {
    grid-area: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credito_Facu {
    grid-area: 3/1;
}

.credito_Tony {
    grid-area: 3/3;
}

.credito_Alby {
    grid-area: 5/1;
}

.credito_Sthefy {
    grid-area: 5/3;
}

.foto {
    grid-area: 1/2;
}




/*CONTENEDOR PARA BARRAS LATERALES Y PRINCIPAL*/
.contenedor {
    display: grid;
    grid-template: 6fr clamp(500px, 85vh, 1000px) / clamp(50px, 5vw, 100px) 1fr clamp(50px, 5vw, 100px);
}




/*Layouts Auxiliares*/
/*Caja auxiliar para centrar entidad*/
.centralizador {
    text-align: center;
    grid-area: 1/2;

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;

}

.efecto {
    width: clamp(100px,100%,720px);
    height: auto;
    padding: auto;
    margin-top: clamp(100px, 20vh, 300px);
    margin-bottom: clamp(100px, 20vh, 300px);
    display: flex;
    flex-direction: column;
}

.imagen_centrada {
    width: clamp(300px, 50vw, 600px);
    align-self: center;
    
}

.logoImg{
    border-radius: 50%;
    margin-bottom: 50vh;
}