/*CSS PARA UBICACION DE CAJAS
Estilos generales de estructura (grid, flexbox, contenedores, cabecera, pie de página).
*/
body{
    margin: 0%;
    overflow-x: hidden;
}


/*CONTENEDOR PARA NAVEGACION*/
nav {
    display: grid;
    grid-template: 1vh 10vh 1vh/20% 2% repeat(4, 20%);
    grid-gap: 10px; /* Espacio entre las celdas */
    padding: 10px;
}   

.contenedorFinal{
    grid-area: 2/2;
    text-align: center;
    display: grid;
    grid-template: 20vh 20vh 10vh 20vh 10vh 20VH / 1fr 1fr 1fr;
    margin: 0%;
    /*background-color: yellow;*/
}


.p1{
    grid-area: 1/2;
    position: relative;
}

/*FERR*/
.contenedorfotoCredito1{
    grid-area: 2 /1;
    display: grid;
    grid-template: 1fr / 1fr 20vh 1fr;

}

.foto{
    background-size: cover;
    background-color: red;
    border-radius: 50%;
}

.foto1{
    grid-area: 1/2;
    background-image: url('../assets/facu.png');

}

/*FERR*/
.p2{
    grid-area: 3/1;
}


/*SAR*/
.contenedorfotoCredito2{
    grid-area: 2 /3;
    display: grid;
    grid-template: 1fr / 1fr 20vh 1fr;

}

.foto2{
    grid-area: 1/2;
    background-image: url('../assets/toni.png');

}

/*SAR*/
.p3{
    grid-area: 3/3;
}



.contenedorfotoCredito3{
    grid-area: 4/1;
    display: grid;
    grid-template: 1fr / 1fr 20vh 1fr;

}

.foto3{
    grid-area: 1/2;
    background-image: url('../assets/albany.png');

}

/*PETIT*/
.p4{
    grid-area: 5/1;
}

.contenedorfotoCredito4{
    grid-area: 4/3;
    display: grid;
    grid-template: 1fr / 1fr 20vh 1fr;

}

.foto4{
    grid-area: 1/2;
    background-image: url('../assets/sthefy.png');

}

/*CEDE*/
.p5{
    grid-area: 5/3;
}


.logo {
    order: 0;
    padding: 0px;
    grid-area: 2/1;
}



.logoImg{
    border-radius: 50%;
    margin-bottom: 20%;
}

.boton{
    width: 100%;    
    height: 100%;  
    box-sizing: border-box; 
    font-size: 1em;
    border: none;  
    padding: 0px;
    border-radius: 5%;

}

.btn1 {
    grid-area: 2/3;
}

.btn2 {
    grid-area: 2/4;
}

.btn3 {
    grid-area: 2/5;
}

/*CONTENEDOR PARA BARRAS LATERALES Y PRINCIPAL*/
.contenedor {
    display: grid;
    grid-template: 6fr 85vh/ 10vw 1fr 10vw;
}

.imagenInicio{
    width: 480px;
    aspect-ratio: 1/1;
}

.imagenLogo{
    height: 100%;
    width: 70%;
}


/*Layouts Auxiliares*/
    /*Caja auxiliar para centrar entidad*/
.centralizador{
    text-align: center;
    grid-area: 1/2;
}

.efecto{
    margin-top: 20vh;
    margin-bottom: 20vh;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    /* Reorganizar el grid para apilar elementos en móviles */
    nav {
        grid-template: 1vh 10vh 1vh / 1fr;
    }

    .contenedorFinal {
        grid-template: repeat(6, 1fr) / 1fr; /* Cambia a 1 columna en móviles */
    }

    /* Redimensionar imágenes y fuentes */
    .foto {
        width: 100px;
        height: 100px;
    }

    p {
        font-size: 12px;
    }

    .boton {
        font-size: 10px;
    }

    .btn1, .btn2, .btn3 {
        grid-area: auto;
        width: 100%;
        margin: 5px;
    }

    /* Ajustar la imagen de inicio en móviles */
    .imagenInicio {
        width: 80%;
        aspect-ratio: 1/1;
    }

    .imagenLogo {
        width: 50%;
    }
}

/* Media Query para pantallas menores a 480px */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .boton {
        font-size: 8px;
    }

    /* Reorganizar aún más el contenido */
    .contenedorFinal {
        grid-template: repeat(6, 1fr) / 1fr; /* Mantener 1 columna en pantallas pequeñas */
    }

    .btn1, .btn2, .btn3 {
        width: 100%; /* Asegura que los botones ocupen todo el ancho */
        font-size: 12px; /* Ajuste adicional en el tamaño de la fuente */
    }

    .imagenInicio {
        width: 100%;
    }
}