@font-face {
    font-family: 'comic';
    src: url('../assets/fonts/Rethogen Atomics.otf') format('opentype');
}

html {
    font-size: 16px;
}

.btn1, .btn2, .btn3  {
    font-family: comic;
    font-size: 4rem;
    border: none;
    padding: 0;
}

h1 {
    font-size: 5rem;
}

p {
    margin: 3rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
