@font-face {
    font-family: 'comic'; /* Nombre que defines */
    src: url('../assets/fonts/Rethogen\ Atomics.otf') format('truetype'); /* Ruta a la fuente */
    /* Puedes agregar más formatos si tienes otros archivos (eot, woff, etc.) */
  }

  .boton {
    font-family: comic;
    font-size: 5em;
    border: none;  /* Quitar borde por defecto del botón */
    padding: 0;    /* Quitar padding interno para que el botón ocupe todo */
}

p{
    margin: 2%;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}
