@font-face {
    font-family: 'comic';
    src: url('../assets/fonts/Rethogen Atomics.otf') format('opentype');
}

html {
    font-size: clamp(8px,12px,32px);
}

.btn1, .btn2, .btn3 {
    font-family: comic;
    font-size: clamp(1rem, 2vw, 4rem);
    border: none;
    padding: 0;
}

.credito {
    margin: 0px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

h1 {
    font-size: clamp(3rem, 5vw, 5rem);
}

p {
    margin: clamp(1.5rem, 3vw, 3rem);
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2rem);
}
